<body>
    <header>
        <img class="img-header" src="../assets/shabilogo.png"  >            
        <h1 >🅢🅗🅐🅑🅘🅒🅞🅓🅔 </h1>
    </header>    
    <div class="main row">
        <img src="../assets/home.png"/>
    </div> 
    <div class="container" >
        <div class="row">
            <mat-card class="card"> 
                <img mat-card-image src="../assets/angular_logo.png" class="img-card">
                <mat-card-actions>
                    <button mat-button>❥ Go There !!!</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card"> 
                <img mat-card-image src="../assets/angular_logo.png" class="img-card">
                <mat-card-actions>
                    <button mat-button>❥ Go There !!!</button>
                </mat-card-actions>
            </mat-card> 
        </div> 
    </div> 
     
</body>
